@import "tailwindcss";

@theme {
  --color-background:   #0d1117;
  --color-surface:      #161c2a;
  --color-border:       #253044;
  --color-accent:       #edb81a;
  --color-accent-muted: #b89615;
  --color-vs1:          #edb81a;
  --color-vs2:          #1d9e75;
  --color-status-green: #22c55e;
  --color-status-amber: #f59e0b;
  --color-status-red:   #ef4444;
}

body {
  background-color: #0d1117;
  color: #edf2f8;
}
